/*
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
*/

.header{
    background:linear-gradient(black, transparent), url(./media/header.jpg);
    background-size: cover;
    background-position: center;
}

.h-font, .h-font2, .btn-custom{ margin-left: 20px;}

.h-font{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: white;
}

.h-font2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
}

.btn-custom{
    height: 40px;
    width: 110px;
}

.cover1{
    width: 100%;
    position: absolute;
    top: -186px;
    padding: 0px;
}

.cover2{
    width: 100%;
    position: absolute;
    top: -155px;
    padding: 1px;
}


@media screen and (max-width:700px){
    .cover2{
        top: -72px;
    }
    .cover1{
        top: -85px;
    } 
}

.intro1{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align:center;
    color: #1566C0;
    z-index: 999;
    margin-top: 125px;
}

.intro2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;
    z-index: 999;
}

.icon{
    position: absolute;
    font-size: 20px;
    color: white;
    top: 35px;
    left: 20px;
}

.icona {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 20px; 
    box-shadow: 9px 7px 31px 5px rgba(0,0,0,0.12);
}   

.text-card{
    position: absolute;
    width: 70%;
    top: 45px;
    font-family: 'Righteous', cursive;
    font-size: 100%;
    color: #1566C0;
    border-bottom: 5px solid yellow;
    margin-top: 20px;
    padding: 0px;
    
}

.text-card2{
    position: absolute;
    bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 75%;
    text-align: left;
    color: white;
    
}


.box{
    background-color: white;
    border-radius: 20px; 
    box-shadow: 9px 7px 31px 5px rgba(0,0,0,0.12);
}

.text-custom{
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: #1566C0;
}

.text-custom2{
    font-family: 'Roboto', sans-serif;
}

.box-icons{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 3%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.border-image{
    border: 5px solid #1566C0;
    padding: 0.5%;
}

.border-r{
    border-right: 5px solid #1566C0;
    
}

.border-l{
    border-left: 5px solid #1566C0;
    
}

.pallino{
    position: relative;
}

.pallino::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border: 2px solid #1566C0;
    border-radius: 50%;
    top: 0px;
    right: -12px;
}

.btn-custom2{
    background-color: #1566C0;
    color: white;
    height: 40px;
    width: 110px;
}

.footer{
    background:linear-gradient(white, transparent, black), url(./media/footer.jpg);
    background-size: cover;
    background-position: center;
}

.f-font{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin-left: 20px;
    color: yellow;
}

.f-icon{
    color: white;
}





